.home {
  padding-left: 350px;
  padding-top: 100px;
  margin: auto;
  height: 100vh;
  color: white;

  background-image: linear-gradient(rgb(45,49,57), rgb(5, 5, 5)85%);
}

.album-list {
  /* background-color: red; */
}

.album {
  /* background-color: lightblue; */
  width: 144px;
  padding-right: 25px;
  /* margin: */
}


.album:hover{
  /* background-color: blue; */
  cursor: pointer;
  /* -webkit-filter: grayscale(90%); */
  -webkit-filter: contrast(85%)
}

.album-index-album{
  padding: 0px;
  /* margin: 5px; */
  border: none;
}
.album button{
  max-height: 145px;
}
.album-list {
  display: flex;
}

.demo-image{
  width:145px;
  height: 145px;
}

.album-index-title {
  /* background-color: blue; */
  background: transparent;
  border: none;
  font-size: 14px;
  color: white;
}
