.home {
  padding-left: 350px;
  padding-top: 100px;
  margin: auto;
  height: 100vh;
  color: white;

  background-image: linear-gradient(rgb(45,49,57), rgb(5, 5, 5)85%);
}

.album-list {
  /* background-color: red; */
      flex-wrap: wrap;
    max-width: 700px
}

.album-list::-webkit-scrollbar {
    background: transparent
}
.album-list::-webkit-scrollbar-thumb {
  background-color: gray;
}

.album-list::-webkit-scrollbar-corner{
  background: transparent
}



.album {
  /* background-color: lightblue; */
  width: 144px;
  padding-right: 30px;
  padding-bottom: 30px;
  /* margin: */
}

.album-images{
  /* background-color: lightblue */
  position: relative
}

.play-modal {
  /* background-color: red; */
  position: absolute;
  /* width:1px; */
  height: 145px;
  /* margin: 15px; */
  left: 0px;
  opacity: 0;
  z-index: 5;
}

.play-modal:hover {
  visibility: visible;
  opacity: .8;
  /* background-color: blue; */
}



.album:hover{
  cursor: pointer;
  /* -webkit-filter: contrast(85%); */
  /* -webkit-filter: brightness(95%); */
}

.album:hover .demo-image{
  -webkit-filter: brightness(20%);
}


.album-index-album{
  padding: 0px;
  /* margin: 5px; */
  border: none;
}
.album button{
  max-height: 145px;
}
.album-list {
  display: flex;
  overflow: scroll;
  max-height: 500px;
  max-width: 800px;

}

.demo-image{
  width:145px;
  height: 145px;
  position: relative;
  /* z-index: 6; */
}
/* .demo-image:hover{
  -webkit-filter: brightness(25%);

} */

/* .demo-image:hover{
  opacity: .5;
  background-image: url("https://mbtskoudsalg.com/images/white-play-button-png-5.png")
} */

.album-index-title {
  /* background-color: blue; */
  background: transparent;
  border: none;
  font-size: 14px;
  color: white;
}

