.login-form{
  display: block;
  text-align: center;
  /* background-color: papayawhip; */
  margin: auto;
  align-items: center;
  list-style-type: none
}
ul{
  list-style-type: none;
}

.login-form input {
  padding-left: 20px;
  padding-right: 260px;
  padding-top: 15px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#dummy-login {
  background-color: #3b5998;
  border-radius: 25px;

  width: 426px;
  height: 32px;
  color: white;
  font-size: 15px;
  margin: 10px
}



.login-button{
    display: flex;
    background-color: #1ed760;
    color: white;
    border-radius: 25px;
    display: block;
    line-height: 1.25em;
    width: 210px;
    height: 32px;
    align-items: center;
    text-align: center;
    padding 2px 15px 0;
    font-size: 13px;
    margin: auto
  }
}
