.nav-bar {
  position: fixed;
  flex-direction: column;
  background-color: rgba(0,0,0,.9);
  width: 200px;
  height: 100vh;
  top:0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

.nav-bar ul{
  position: fixed;
  margin: auto;
  top: 115px;
  left: 25px;
}

.nav-bar div{
  margin: auto;
}

.logo-with-name-white-small {
  display: flex;
  position: fixed;
  top: 10px;
  align-items: center;
  color: white;

}
