

.signup-form{
  display: block;
  text-align: center;
  /* background-color: papayawhip; */
  margin: auto;
  align-items: center;
  list-style-type: none
}

.signup-form input{
  /* background-color: blue; */
  /* margin-right: 220px; */
  /* margin: 500px */
}

.signup-form li {

  /* background-color: lightblue; */
  width: 426px;
  margin: auto;
  height: 48px;
}

input{
  padding-left: 20px;
  padding-right: 200px;
  padding-top: 10px;
}

#DOBday {
  /* background-color: blue; */
  width: 50px;
  padding-right: 50px;
}

#DOByear {
  /* background-color: blue; */
  width: 50px;
  padding-right: 50px;
}

#signup-demo-login{
  width: 350px;
}
